#Default group registry to download packages
registry=https://nexus-cit-retail.skytap-tss.vodafone.com/repository/greece_cit_retail_app_group/
always-auth=true
fetch-retries=10
fetch-retry-maxtimeout=180000
_auth=${NPM_AUTH}



#Private registry to download packages (use additional "--scope=@privateRegistry" argument in the npm commands)
@privateRegistry:registry=https://nexus-cit-retail.skytap-tss.vodafone.com/repository/greece_cit_retail_app_repo/
//DOMAIN/FEED/:always-auth=true
//DOMAIN/FEED/:_auth=${NPM_AUTH}
